.lf-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  transition: all 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  z-index: 10;

  &__image {
    margin-left: 20px;
    display: flex;
    > img {
      height: 60px;
      width: auto;
      align-self: center;
    }
  }

  &__nav {
    display: flex;
    align-self: center;
    gap: 80px;
    margin-right: 80px;

    &-lang {
      display: flex;
      gap: 4px;
      font-weight: normal;

      &--selected {
        font-weight: bolder;
      }

      > button {
        background: none;
        border: none;
        font-size: large;
        color: white;

        &:hover {
          font-weight: bolder;
        }
      }

      > span {
        font-size: large;
      }
    }

    > a {
      font-size: x-large;
      text-decoration: none;
      color: white !important;

      &:hover {
        text-decoration: underline;
      }
    }

    &__button {
      align-items: center;
      > svg {
        margin-right: 40px;
      }
    }
  }

  &__image-delete {
    height: 60%;
    align-self: center;
    padding-left: 1%;
  }

  &__options {
    display: flex;
    gap: 4px;
    font-weight: normal;
    align-self: center;
    padding-right: 3%;

    &--selected {
      font-weight: bolder;
    }

    > button {
      background: none;
      border: none;
      font-size: large;
      color: black;

      &:hover {
        font-weight: bolder;
      }
    }

    > span {
      font-size: large;
    }
  }

  &__button {
    > svg {
      padding: 20px;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.lf-header-white {
  background: white;
  transition: all 0.5s;

  .lf-header__container {
    background: white;
  }

  > nav {
    > a {
      font-size: x-large;
      text-decoration: none;
      color: black !important;

      &:hover {
        text-decoration: underline;
      }
    }

    > div > button {
      color: black !important;
    }

    > div > span {
      color: black !important;
    }
  }
}

@media (max-width: 900px) {
  .lf-header {
    flex-direction: column;
  }
  .lf-header__nav {
    flex-direction: column;
    width: 100%;
    align-items: center;
    top: 0;
    position: relative;
    background: white;
    margin: 0;
    transition: all 0.5s;
  }
}
